.confettiDemoContainer {
    display: flex;
    padding: 1em;
    position: relative;
    cursor: pointer;
    height: 100%;

    :global {
        .cannon {
            fill: white;
            height: 120px;
            margin: 180px auto auto;
            width: auto;
            transform: rotate(-45deg);
            transform-origin: left bottom;
        }
    }
}
